*{
  margin: 0;
  padding: 0;
}
body{
  font-family:'Times New Roman', Times, serif;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(2,0,36,1) 100%);
  color: white;
}
.container{
  width: 20rem;
  margin: 5rem auto;
  background-color: #202021;
  border-radius: .5rem;
  padding-bottom: 1rem;
  box-shadow: 0 0 .5em black;
}
#header{
  padding: 10px 15px;
  display: flex;
  gap: 10px;
}
#header h1{
  font-size: 1.2rem;
  font-weight: 500;
}
#header .icon{
  width: 20px;
  height: 20px;
}
#header .networking{
  width: 100%;
  display: flex;
  gap: .5rem;
  direction: rtl;
}
#header .networking img{
  width: 25px;
  height: 25px;
}
.resultado{
  background: #2f2f30;
  border: 1px solid #fec63e;
  min-height: 3rem;
  margin: .5rem;
  margin-bottom: 2rem;
}
.resultado p{
  font-size: 2.5rem;
  margin-left: .3rem;
  word-wrap:break-word;
}
.conteudo{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(4rem,1fr));
  padding: 0.25rem;
  margin-bottom: 1rem;
}
.conteudo button{
  background: #3b3b3c;
  color: white;
  height: 3rem;
}
.conteudo button:hover{
  background: #323234
}
#bcleanlast,
#bparent,
#bclean,
#bdiv, 
#bmult, 
#bsubt, 
#badic, 
#badic,
#bvirg,
#inverter, 
.aritmeticos{
  background: #323234 !important;
}
#bcleanlast:hover,
#bparent:hover,
#bclean:hover, 
#bdiv:hover, 
#bmult:hover, 
#bsubt:hover, 
#badic:hover, 
#badic:hover,
#bvirg:hover, 
#inverter:hover,
.aritmeticos:hover{
  background: #3b3b3c !important;
}
#start{
  cursor: pointer;
  background: #fec63e !important;
  color: black !important;
}
#start:hover{
  background: #e6b649 !important;
}
#btext{
  font-size: 1rem;
  transition: 1s;
}
#btext:hover{
  font-size: 1.5rem;
  color: red;
  transition: 1s;
}

#parenteses{
  position: relative;
}
.separado{
position: absolute;
display: grid;
grid-template-columns: 1fr 1fr;
width: 100%;
height: 100%;
top: 0;
}
.z_index{
  z-index: -1;
}
#abre{
  border-right: 1.83px solid black;
  background: #323234 !important;
}
#fecha{
  border-left: 1.83px solid black;
  background: #323234 !important;
}
#abre:hover,#fecha:hover{
  background: #3b3b3c !important;
}
.separado span{
  position: absolute;
  top: 15px;
}
#abre span{
  left: 15px;
}
#fecha span{
  left: 55px;
}
#bparent{
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
}
#bparent span{
  position: absolute;
  top: 15px;
  left: 30px;
}
#alterar{
  cursor: pointer;
  position: absolute;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  background: #3b3b3c;
  border: 3px solid black;
  top: -13px;
  left: 45px;
  z-index: 3;
  transition: 1s;
}
#alterar:hover{
  background: #fec63e;
  transition: 1s;
  color: black;
}
#alterar span{
  position: absolute;
  left: 3.6px;
  top: 1px;
}
#inverter{
  height: 100%;
}
#inverter span{
  position: absolute;
  left: 34px;
  top: 14px;
}
#especial{
  position: relative;
}
#alterar2{
  cursor: pointer;
  position: absolute;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  background: #3b3b3c;
  border: 3px solid black;
  top: 32px;
  left: 5px;
  z-index: 3;
  transition: 1s;
}
#alterar2:hover{
  background: #fec63e;
  transition: 1s;
  color: black;
}
#alterar2 span{
  position: absolute;
  left: 7px;
  top: 4px;
}
.separado2{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: #323234 !important;
}
.separado2:hover{
  background: #3b3b3c !important;
}
#elevacao{
  width: 100%;
  height: 100%;
}
#elevacao span{
  position: absolute;
  left: 34px;
  top: 18px;
}
.z_index2{
  z-index: -1;
}